.form-container {
  width: 280px;
  margin: 40px auto;
  padding: 20px;
  padding-top:0;
  
 
}
h2{
  color:red;
  font-size:xx-large;
display: flex;
padding-left: 550px;
padding-bottom: 0;
}
button{
  margin-left:150px;
}
.form-row {
   display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  
}

.form-row label {
  flex: 1;

}

.form-row input {
  flex: 2;
  padding: 0px;
}
